@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-playfair-display: "Playfair Display";
  --font-poppins: Poppins;
  --font-cinzel: Cinzel;
  --font-open-sans: "Open Sans";
  --font-roboto-mono: "Roboto Mono";

  /* font sizes */
  --font-size-2xs: 11px;
  --font-size-base-3: 15.3px;
  --font-size-5xl-7: 24.7px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-mid: 17px;
  --font-size-6xl: 25px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 31px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-lgi: 19px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-8xl-5: 27.5px;
  --font-size-51xl: 70px;
  --font-size-23xl: 42px;
  --font-size-37xl: 56px;
  --font-size-17xl: 36px;
  --font-size-xs: 12px;
  --font-size-53xl: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;
  --font-size-lg: 18px;
  --font-size-36xl: 55px;
  --font-size-14xl: 33px;
  --font-size-25xl: 44px;
  --font-size-smi: 13px;
  --font-size-7xl: 26px;
  --font-size-mini: 15px;
  --font-size-4xl: 23px;

  /* Colors */
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #eee;
  --color-whitesmoke-300: #eeecec;
  --color-dimgray-100: #6b6b6b;
  --color-dimgray-200: #616144;
  --color-dimgray-300: #5c5c5c;
  --color-dimgray-400: #555;
  --color-dimgray-500: #4d4d38;
  --color-lightgray: #d4d4d4;
  --color-white: #fff;
  --color-gray-100: #87876b;
  --color-gray-200: #323;
  --color-gray-300: #18290d;
  --color-gray-400: #0e2002;
  --color-gray-500: rgba(255, 255, 255, 0.78);
  --color-gray-600: rgba(255, 255, 255, 0.95);
  --color-gray: rgba(255, 255, 255, 0.8);
  --color-darkslategray-100: #474731;
  --color-darkslategray-200: #404040;
  --color-darkslategray-300: #313f28;
  --color-darkslategray-400: #183b56;
  --color-darkgreen: #346d0f;
  --color-darkgreen-100: #2f5f0f;
  --color-black: #000;
  --color-darkolivegreen-100: #5c6d2f;
  --color-darkolivegreen-200: #40491e;
  --color-darkolivegreen-300: #3f4e0b;
  --color-darkolivegreen-500: #364500;
  --color-darkolivegreen-400: #263c17;
  --color-darkolivegreen-600: #242e03;
  --color-olivedrab-100: #769517;
  --color-olivedrab-200: #566e00;
  --color-floralwhite: #f8faf2;
  --color-snow: #fef9f9;
  --color-lightgreen: #b0e38f;
  --color-gainsboro: #d9d9d9;
  --color-slategray: #5a7184;
  --color-darkkhaki: rgba(163, 187, 108, 0.5);

  /* Gaps */
  --gap-9xs: 4px;
  --gap-28xl: 13px;
  --gap-4xl: 23px;
  --gap-22xl: 17px;
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-0: 0px;
  --gap-3xs-8: 9.8px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-3xl: 22px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-7xl: 26px;
  --gap-5xl: 24px;
  --gap-6xl: 25px;
  --gap-81xl: 100px;
  --gap-31xl: 50px;
  --gap-85xl: 104px;
  --gap-33xl: 52px;
  --gap-sm: 14px;
  --gap-48xl: 67px;
  --gap-9xl: 28px;
  --gap-15xl-8: 34.8px;
  --gap-mid: 17px;
  --gap-base: 16px;
  --gap-7xl-8: 26.8px;
  --gap-8xl: 27px;
  --gap-13xl-5: 32.5px;
  --gap-14xl-7: 33.7px;
  --gap-100xl-4: 119.4px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-11xl-4: 30.4px;
  --gap-mini: 15px;
  --gap-lgi: 19px;
  --gap-8xs-7: 4.7px;
  --gap-mid-1: 17.1px;
  --gap-lg-1: 18.1px;
  --gap-14xl: 33px;
  --gap-18xl-4: 37.4px;
  --gap-6xl-8: 25.8px;
  --gap-12xl: 31px;
  --gap-60xl-5: 79.5px;
  --gap-7xl-1: 26.1px;
  --gap-15xl: 34px;
  --gap-10xl: 29px;
  --gap-14xl-5: 33.5px;
  --gap-19xl: 38px;
  --gap-4xl-5: 23.5px;
  --gap-317xl: 336px;
  --gap-223xl: 242px;
  --gap-102xl: 121px;
  --gap-44xl: 63px;
  --gap-60xl: 79px;
  --gap-20xl: 39px;
  --gap-smi: 13px;
  --gap-21xl: 40px;
  --gap-109xl: 128px;
  --gap-13xl: 32px;
  --gap-45xl: 64px;
  --gap-32xl: 51px;
  --gap-208xl: 227px;
  --gap-38xl: 57px;
  --gap-94xl: 113px;
  --gap-23xl: 42px;
  --gap-234xl: 253px;
  --gap-107xl: 126px;
  --gap-xl-8: 20.8px;
  --gap-xs-7: 11.7px;
  --gap-3xs: 10px;
  --gap-32xl-1: 51.1px;
  --gap-2xs: 11px;
  --gap-118xl-6: 137.6px;
  --gap-50xl: 69px;
  --gap-xs: 12px;
  --gap-mini-2: 14.2px;
  --gap-106xl: 125px;
  --gap-43xl: 62px;
  --gap-210xl: 229px;
  --gap-95xl: 114px;
  --gap-53xl: 72px;
  --gap-74xl: 93px;
  --gap-27xl: 46px;
  --gap-251xl: 270px;
  --gap-116xl: 135px;
  --gap-146xl: 165px;
  --gap-63xl: 82px;
  --gap-159xl: 178px;
  --gap-64xl: 83px;
  --gap-132xl: 151px;
  --gap-56xl: 75px;
  --gap-198xl: 217px;
  --gap-89xl: 108px;
  --gap-35xl: 54px;
  --gap-342xl: 361px;
  --gap-71xl: 90px;
  --gap-161xl: 180px;
  --gap-241xl: 260px;
  --gap-46xl: 65px;
  --gap-111xl: 130px;
  --gap-15xl-7: 34.7px;
  --gap-9xl-8: 28.8px;
  --gap-smi-8: 12.8px;
  --gap-468xl: 487px;
  --gap-103xl: 122px;
  --gap-224xl: 243px;
  --gap-145xl: 164px;
  --gap-110xl: 129px;
  --gap-5xs: 8px;
  --gap-150xl: 169px;
  --gap-65xl: 84px;
  --gap-121xl: 140px;
  --gap-16xl: 35px;
  --gap-51xl: 70px;
  --gap-70xl: 89px;
  --gap-25xl: 44px;
  --gap-134xl: 153px;
  --gap-57xl: 76px;
  --gap-99xl: 118px;
  --gap-40xl: 59px;
  --gap-4xs: 9px;
  --gap-233xl: 252px;
  --gap-69xl: 88px;
  --gap-77xl: 96px;
  --gap-29xl: 48px;
  --gap-26xl: 45px;
  --gap-5xs-7: 7.7px;
  --gap-75xl: 94px;
  --gap-100xl: 119px;
  --gap-14xl-6: 33.6px;
  --gap-7xl-6: 26.6px;
  --gap-207xl: 226px;
  --gap-37xl: 56px;
  --gap-53xl-1: 72.1px;
  --gap-8xl-1: 27.1px;
  --gap-8xs: 5px;
  --gap-17xl-9: 36.9px;
  --gap-12xl-8: 31.8px;
  --gap-mini-1: 14.1px;
  --gap-17xl-7: 36.7px;
  --gap-224xl-1: 243.1px;
  --gap-42xl: 61px;
  --gap-60xl-1: 79.1px;
  --gap-base-7: 16.7px;
  --gap-269xl: 288px;
  --gap-125xl: 144px;

  /* Paddings */
  --padding-66xl: 85px;
  --padding-9xs: 4px;
  --padding-28xl: 47px;
  --padding-84xl: 103px;
  --padding-6xl: 25px;
  --padding-36xl: 55px;
  --padding-12xl: 31px;
  --padding-32xl: 51px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-xl: 20px;
  --padding-14xl: 33px;
  --padding-10xs: 3px;
  --padding-18xl: 37px;
  --padding-base: 16px;
  --padding-15xl: 34px;
  --padding-lgi: 19px;
  --padding-10xl: 29px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-62xl: 81px;
  --padding-2xs: 11px;
  --padding-37xl: 56px;
  --padding-13xl: 32px;
  --padding-4xl: 23px;
  --padding-smi: 13px;
  --padding-6xs: 7px;
  --padding-2xl: 21px;
  --padding-7xs: 6px;
  --padding-49xl: 68px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-sm: 14px;
  --padding-196xl: 215px;
  --padding-72xl: 91px;
  --padding-121xl: 140px;
  --padding-486xl: 505px;
  --padding-194xl: 213px;
  --padding-309xl: 328px;
  --padding-180xl: 199px;
  --padding-65xl: 84px;
  --padding-110xl: 129px;
  --padding-60xl-5: 79.5px;
  --padding-60xl: 79px;
  --padding-base-6: 16.6px;
  --padding-5xl: 24px;
  --padding-33xl: 52px;
  --padding-smi-3: 12.3px;
  --padding-302xl: 321px;
  --padding-117xl: 136px;
  --padding-190xl: 209px;
  --padding-282xl: 301px;
  --padding-70xl: 89px;
  --padding-100xl: 119px;
  --padding-422xl: 441px;
  --padding-177xl: 196px;
  --padding-3xl: 22px;
  --padding-58xl: 77px;
  --padding-91xl: 110px;
  --padding-201xl: 220px;
  --padding-25xl: 44px;
  --padding-742xl: 761px;
  --padding-303xl: 322px;
  --padding-476xl: 495px;
  --padding-408xl-4: 427.4px;
  --padding-99xl: 118px;
  --padding-162xl: 181px;
  --padding-259xl: 278px;
  --padding-12xs-6: 0.6px;
  --padding-224xl: 243px;
  --padding-59xl: 78px;
  --padding-34xl: 53px;
  --padding-22xl: 41px;
  --padding-sm-9: 13.9px;
  --padding-18xl-5: 37.5px;
  --padding-83xl-6: 102.6px;
  --padding-23xl: 42px;
  --padding-12xs-4: 0.4px;
  --padding-221xl-5: 240.5px;
  --padding-41xl: 60px;
  --padding-101xl: 120px;
  --padding-21xl: 40px;
  --padding-29xl: 48px;
  --padding-848xl: 867px;
  --padding-xl-5: 20.5px;
  --padding-8xl: 27px;
  --padding-199xl-5: 218.5px;
  --padding-45xl: 64px;
  --padding-107xl: 126px;
  --padding-50xl: 69px;
  --padding-63xl: 82px;
  --padding-115xl: 134px;
  --padding-9xl: 28px;
  --padding-7xs-9: 5.9px;
  --padding-77xl: 96px;
  --padding-43xl: 62px;
  --padding-96xl: 115px;
  --padding-56xl: 75px;
  --padding-3xs: 10px;
  --padding-310xl: 329px;
  --padding-316xl: 335px;
  --padding-123xl: 142px;
  --padding-145xl: 164px;
  --padding-199xl: 218px;
  --padding-11xl: 30px;
  --padding-71xl: 90px;
  --padding-210xl: 229px;
  --padding-27xl: 46px;
  --padding-7xl: 26px;
  --padding-mini-2: 14.2px;
  --padding-7xs-2: 5.2px;
  --padding-xs-7: 11.7px;
  --padding-35xl: 54px;
  --padding-base-3: 16.3px;
  --padding-9xs-2: 3.2px;
  --padding-smi-2: 12.2px;
  --padding-9xs-8: 3.8px;
  --padding-8xs-1: 4.1px;
  --padding-23xl-6: 42.6px;
  --padding-lg: 18px;
  --padding-89xl: 108px;
  --padding-82xl-5: 101.5px;
  --padding-47xl: 66px;
  --padding-131xl: 150px;
  --padding-78xl: 97px;
  --padding-10xs-5: 2.5px;
  --padding-38xl: 57px;
  --padding-314xl: 333px;
  --padding-111xl: 130px;
  --padding-46xl: 65px;
  --padding-197xl: 216px;
  --padding-8xs: 5px;
  --padding-296xl: 315px;
  --padding-161xl: 180px;
  --padding-12xl-9: 31.9px;
  --padding-186xl: 205px;
  --padding-114xl: 133px;
  --padding-155xl: 174px;
  --padding-94xl: 113px;
  --padding-52xl: 71px;
  --padding-53xl: 72px;
  --padding-16xl: 35px;
  --padding-17xl: 36px;
  --padding-64xl: 83px;
  --padding-7xs-5: 5.5px;
  --padding-80xl: 99px;
  --padding-48xl: 67px;
  --padding-20xl: 39px;
  --padding-300xl: 319px;
  --padding-163xl: 182px;
  --padding-188xl: 207px;
  --padding-26xl: 45px;
  --padding-116xl: 135px;
  --padding-base-1: 15.1px;
  --padding-127xl: 146px;
  --padding-76xl: 95px;
  --padding-82xl: 101px;
  --padding-24xl: 43px;
  --padding-288xl: 307px;
  --padding-164xl: 183px;
  --padding-175xl: 194px;
  --padding-181xl: 200px;
  --padding-109xl: 128px;
  --padding-68xl: 87px;
  --padding-40xl: 59px;
  --padding-305xl: 324px;
  --padding-469xl: 488px;
  --padding-192xl: 211px;
  --padding-298xl: 317px;
  --padding-118xl: 137px;
  --padding-187xl: 206px;
  --padding-317xl: 336px;
  --padding-349xl: 368px;
  --padding-136xl: 155px;
  --padding-319xl: 338px;
  --padding-124xl: 143px;
  --padding-356xl: 375px;
  --padding-140xl: 159px;
  --padding-225xl: 244px;
  --padding-212xl: 231px;
  --padding-219xl: 238px;
  --padding-mini: 15px;
  --padding-189xl: 208px;
  --padding-69xl: 88px;
  --padding-255xl: 274px;
  --padding-244xl: 263px;
  --padding-152xl: 171px;
  --padding-92xl: 111px;
  --padding-387xl: 406px;
  --padding-112xl: 131px;
  --padding-245xl: 264px;
  --padding-153xl: 172px;
  --padding-218xl: 237px;
  --padding-135xl: 154px;
  --padding-lg-3: 18.3px;
  --padding-7xl-7: 26.7px;
  --padding-lg-5: 18.5px;
  --padding-14xl-3: 33.3px;
  --padding-19xl: 38px;
  --padding-sm-3: 13.3px;
  --padding-lg-6: 18.6px;
  --padding-10xs-4: 2.4px;
  --padding-9xs-5: 3.5px;
  --padding-204xl-1: 223.1px;
  --padding-10xl-1: 29.1px;
  --padding-62xl-5: 81.5px;
  --padding-128xl-9: 147.9px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-lgi: 19px;
  --br-4xs: 9px;
  --br-2xl: 21px;
  --br-smi: 13px;
  --br-mini: 15px;
  --br-7xl: 26px;
}
